#back-body {
    padding: 0;
    background: #faf8ef;
    color: #776E65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* 水平居中 */
}

#content {
    padding: 20px 10px;
    width: 68vh;
}

.heading {
    display: flex;
    /* 创建水平布局 */
    align-items: center;
    /* 垂直居中 */
}

h1.title {
    flex: 1;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    /* 居中标题文本 */
}

.scores-container {
    display: flex;
    /* 创建水平布局 */
    align-items: center;
    /* 垂直居中 */
    right: 0px;
}

#score-content {
    background-color: #bbada0;
    margin: 4px;
    min-width: 80px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

#score-title {
    color: #eee4da;
    font-size: 14px;
    padding-top: 6px;
}

.score-container,
.best-container {
    color: white;
}

.above-game {
    margin-top: 20px;
    display: flex;
    /* 创建水平布局 */
    align-items: center;

    /* 垂直居中 */
    .game-intro {
        flex: 1;
    }

    .btn-user-restart {
        display: flex;
        /* 创建水平布局 */
        align-items: center;
        /* 垂直居中 */
        right: 0px;
        /* 可根据需要设置分数之间的间距 */

        background-color: #8d7967;
        border-color: #8d7967;
        color: white;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
    }

    .btn-user-restart:hover {
        background-color: #836142;
        border-color: #836142;
        color: white;

    }
}

.game-container {
    margin-top: 40px;
    position: relative;
    padding: 2vh;

    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -ms-touch-action: none;
    touch-action: none;

    background: #bbada0;
    border-radius: 6px;
    width: 66vh;
    height: 66vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .game-info {
        display: none;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(125, 125, 125, 0.6);
        z-index: 10;
        text-align: center;

        #gameover-info{
            padding-top: 30%;
            color: white;
            font-size: 60px;
            font-weight: bold;
            font-style: italic;
        }

        .btn-user-retry{
            display: inline;
            /* 创建水平布局 */
            align-items: center;
            /* 垂直居中 */
            right: 0;
            /* 可根据需要设置分数之间的间距 */
    
            background-color: #8d7967;
            border-color: #8d7967;
            color: white;
            font-size: 30px;
            font-weight: bold;
        }

        .btn-user-retry:hover {
            background-color: #836142;
            border-color: #836142;
            color: white;
        }

    }

    .grid-container{
        position: absolute;
        z-index: 1;
    }

    .grid-row {
        margin-bottom: 2vh;

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .grid-cell {
        width: 14vh;
        height: 14vh;
        margin-right: 2vh;
        float: left;

        border-radius: 3px;

        background: #d5ccc3;

        &:last-child {
            margin-right: 0;
        }
    }

    .tile-container {
        position: absolute;
        z-index: 2;
    }

    .tile {
        position: absolute;
        .tile-inner {
            margin: auto;
            width: 14vh;
            height: 14vh;
            line-height: 14vh;
            font-size: 48px;
            text-align: center;
            font-weight: bold;
            color: white;
            z-index: 3;
            animation: scaleAnimation 0.2s forwards;
        }
        transition: transform 0.2s; /* 添加过渡效果 */

    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
