@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

/* 自定义样式 */
body {
    background: var(--gradient-sunset);
    background-attachment: fixed;
    --z-leftbar-btn-secondry: #FFCA3A;
    --z-leftbar-btn-slected: #FFB5BA;
}

html,body,#app{
    height: 100%;
}


@media screen and (min-width: 800px) {
    #z-sidebar {
        z-index: 10;
        color: #fff;
        height: 100vh;
        left: 0;
        position: fixed;
        padding: 10px;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
    }

    #z-sidebar #z-container {
        left: 0;
        height: auto;
    }

    #z-sidebar #z-container .z-li {
        margin-bottom: 30px;
    }

    .z-router-link {
        text-decoration: none;
        color: var(--color-text);
        position: relative;
        cursor: pointer;
        padding: 16px 20px;
        border-radius: 25px 25px 35px 35px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .z-router-link:hover {
        transform: translateY(-5px) scale(1.05);
        background-color: var(--color-yellow);
        color: white;
    }

    .z-router-link.router-link-exact-active {
        background-color: var(--color-pink);
        color: white;
    }

    #z-sidebar #z-container .z-li .z-baritem-setting {
        font-size: 24px;
    }

    #z-sidebar #z-container .z-li .z-router-link span {
        padding: 10px;
        display: none;
    }

    #z-sidebar #z-container .z-li:hover .z-router-link {
        color: white;
        background-color: var(--color-purple);
    }

    #z-sidebar #z-container .z-li :hover span {
        display: inline;
    }

    #z-content {
        z-index: 0;
        padding: 20px 20px 20px 100px;
        height: 100%;
        --user-card-bgcolr-hover: #A2D2FF
    }
}
