---
layout: default
---
<div id="bar-setting">
    <div id="bar-content">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-info" href="/index.html">Home</a></li>
            {% assign class = site.classes | where: 'series', page.series | first %}
            <li class="breadcrumb-item"><a class="link-info" href="{{class.url}}">{{class.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
            </ol>
        </nav>
    </div>
</div>

<div id="content">
    <div id="post-setting">
        <h1>{{ page.title }}</h1>
        <div id="post-time">{{ page.date | date: "%Y-%m-%d" }}</div>
        <hr>
    
        {{ content }}
    </div>
</div>